body{
    background-color: #FFF;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

svg{
    display: block;
    width: 100%;
    min-height: 100%;
    margin: 0px auto;
    position:absolute;

}

h1.header{
    position: absolute;
    min-height: 10%;
    color: #EEE;
    width: 32.5vmin;
    text-transform: uppercase;
    font-size: 3vmin;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
div.card{
    margin:0 auto;
    margin-top: 2.5vh;
     box-shadow: -15px 15px 8px #222;
    width:95vw;
    height:95vh;

    background-color:#666;

}
p{
    display: flex;
    color:#DDD;
    font-size: 2vmin;
    align-items: center;
    justify-content: center;
    position: absolute;
}

p#p1{
    width: 29.5vmin;
    min-height: 20%;
}


p#p2{
    width: 29.5vmin;
    min-height: 30%;

}
p#p3{
    width:29.5vmin;
        min-height: 40%;
}
